@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@model FinalExamCode.Models.Role

<h2>Create Role</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="Name">Role Name</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Create</button>
</form>


